* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 70px;
}

body {
    background-color: black;
}

.controls {
    width: 15%;
    height: 100px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .playBtn {
    width: 100px;
    height: 60px;
    border: 2px solid rgb(58 201 235);
    border-radius: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    font-weight: 600;
    color: rgb(58 201 235);
    box-shadow: 0px 4px 10px rgb(58 201 235);
  }

/* For canvas container */

  .canvasCont {
    width: 80%;
    height: 250px;
    margin: auto;
    margin-top: 70px;
    cursor: pointer;
    z-index: 10;
  }




  
/* For static tags in graph  */
.Tags {
    position: absolute;
    width: 120px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .titletag {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: 800;
  }

  .linetag {
    width: 3px;
    height: 70px;
  }
  
  .circletag {
    width: 17px;
    height: 17px;
    border-radius: 50%;
  }
  .tag1 {
    top: 20%;
    left: 20%;
  }
  .tag1 > div {
    background-color: #13d224;
  }
  .tag2 {
    top: 12%;
    left: 30%;
    height: 150px;
  }
  .tag2 > div:nth-child(1) {
    width: 60%;
  }
  .tag2 > div:nth-child(2) {
    height: 100px;
  }
  .tag2 > div {
    background-color: #24de8d;
  }
  .tag3 {
    top: 17%;
    right: 19%;
    height: 150px;
  }
  .tag3 > div:nth-child(1) {
    font-size: 12px;
    width: 60%;
  }
  .tag3 > div:nth-child(2) {
    height: 50px;
  }
  .tag3 > div {
    background-color: #1900b8;
  }
  
  .tag4 {
    top: 13%;
    right: 13%;
    height: 150px;
  }
  .tag4 > div:nth-child(1) {
    width: 150%;
    position: absolute;
    top: 0;
    right: 35%;
  }
  .tag4 > div:nth-child(2) {
    height: 130px;
  }
  .tag4 > div {
    background-color: #68a643;
  }
  
  .tag5 {
    top: 16%;
    right: 16%;
    height: 150px;
  }
  .tag5 > div:nth-child(1) {
    width: 150%;
    position: absolute;
    top: 5%;
    right: 35%;
  }
  .tag5 > div:nth-child(2) {
    height: 85px;
  }
  .tag5 > div {
    background-color: #936666;
  }
  

  @media screen and (max-width: 650px) {
   /* body{
       background-color: blue;
   } */
    .Tags {
        display: none;   
    }
  }
  